[Desktop Entry]
Version=1.0
Name=Steam Launcher
Comment=A utility for Steam
Exec=/opt/steam-launcher/steam-launcher.sh
Icon=/opt/steam-launcher/steam-launcher.png
Terminal=false
Type=Application
Categories=Game;
